@import '../assets/scss/extends';
@import '../assets/scss/mixins';

// Reset
body,
div,
footer,
header,
html,
main,
nav,
section {
  @extend %mA0;
  @extend %pA0;

  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;

  @include media-query-max(600px) {
    font-size: 90%;
  }
}

body {
  @extend %contArnd;
  @extend %flex;
  @extend %flexCol;
  @extend %itmCent;
  @extend %mA0;

  font-size: 1em;
  height: 100vh;
  line-height: 1.2;
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
}

main {
  @extend %mHor;
  @extend %w100;
}

h1 {
  font-size: 2.15rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

svg {
  @extend %w100;

  height: auto;
}

p {
  margin: 5px 0;
}

[disabled],
.disabled {
  cursor: not-allowed;
}

[hidden],
.hidden {
  display: none !important;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.main {
  @extend %contCent;
  @extend %flex;
  @extend %flexCol;
  @extend %itmCent;
  @extend %rel;

  height: calc(100vh - 95px);
  padding: 20px;
}

.circle-wrap {
  @extend %abs;
  @extend %b0;
  @extend %l0;
  @extend %r0;
  @extend %t0;

  height: calc(100vh - 95px);
  z-index: 5;
}

#circle {
  @extend %fadeIn;
  @extend %w100;

  animation-delay: 600ms;
  height: auto;
  opacity: 0;
  z-index: 5;
}

.counter {
  @extend %abs;

  color: #fff;
  font-size: 1.1rem;
  margin: 0;
  z-index: 10;
}
