@import '../assets/scss/extends';
@import '../assets/scss/mixins';

// Hints
.hint-wrap {
  @extend %abs;
  @extend %contBtwn;
  @extend %flex;
  @extend %flexCol;
  @extend %itmCent;
  @extend %w100;

  max-width: 450px;
  padding: 0 20px;
  top: 7.5vh;
  z-index: 10;

  .hints {
    opacity: 0;

    &.visible {
      @extend %block;
      @extend %fadeIn;
    }

    &.hidden {
      @extend %fadeOut;
      @extend %none;
    }
  }

  .hint-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .hint-item {
      max-width: 350px;

      &:nth-child(n+2) {
        @extend %fadeIn;

        opacity: 0;
      }

      @for $i from 2 to 5 {
        $sec: $i - 1;

        &:nth-child(#{$i}) {
          animation-delay: #{$sec}s;
        }
      }
    }
  }

  .hint-end {
    .hint-item.end-main {
      margin-bottom: 20px;
    }
  }

  .hint-item {
    font-size: 1rem;
    margin: 0 0 10px;
    text-align: center;
  }
}

// Icons
.icons {
  @extend %abs;
  @extend %contBtwn;
  @extend %itmCent;
  @extend %w100;

  &.visible {
    @extend %flex;
    @extend %fadeIn;
  }

  &.hidden {
    @extend %fadeOut;
    @extend %none;
  }

  animation-delay: 2s;
  bottom: 10vh;
  max-width: 80px;
  opacity: 0;
  z-index: 10;

  .icon-item {
    height: 30px;
    width: 30px;
  }
}

// Audio
audio {
  @extend %abs;
  @extend %b0;
  @extend %none;

  margin: 0;
}
