<section class="hint-wrap">
  <p class="hints hint-item hint-w1 visible"></p>
  <ul class="hints hint-list hint-w2 hidden">
    <li class="hint-item">Go ahead, turn off notifications and put your headphones on if you'd like</li>
    <li class="hint-item">We will wait</li>
  </ul>
  <ul class="hints hint-list hint-w3 hidden">
    <li class="hint-item">Sit comfortably...</li>
    <li class="hint-item">Take a deep breath in...</li>
    <li class="hint-item">And a deep breath out...</li>
    <li class="hint-item">And close your eyes now...</li>
  </ul>
  <ul class="hints hint-list hint-med hidden">
    <li class="hint-item">No peaking :)</li>
    <li class="hint-item med1"></li>
    <li class="hint-item med2"></li>
  </ul>
</section>